body {
		margin: 0px 0px 0px 0px; 
		padding-top: 20px; 
		padding-bottom: 20px; 
		background:#000000;
	}
	
div.pojemnik {
		padding: 0px;
		width: 800px; 
		height: 840px;
		margin: 0px auto;
		border-style:solid;
		border-width:8px;
		border-color:#d5d93c;
	}

div.baner {
		background-image: url(img/img3.jpg); 
		height: 270px;
	}

div.menu {
		height:55px;
		background-color: white;
	}

div.tresc {
		width: 100%;
		height:480px;
		float: left; 
		text-align: justify; 
		font-family: arial;
		background-color:#ffffff;
		margin: 0px; 
		line-height:21px;
	}

div.zawartosc {
		padding-left: 45px;
		padding-right: 45px;
		padding-top: 17px;
		padding-bottom: 20px;
		font-size: 14px;
}
	
div.stopka {
		height: 35px;
		clear: both; 
		background:#bcbcbc; 
		text-align: center;
		font-family: arial;
		font-size: 9px;
		color: #7d7d7d;
	}

h1, h2, h3 {
		margin: 0px;
		padding-bottom: 17px; 
		text-align: center;
		font-family: arial;
		font-size: 24px;
		color:#070707;
	}
	
ul, ul li {
		display: inline;
		list-style: none;
		margin: 0;
		padding: 0;
}

ul li {
		text-align: center;
		float:left;
		display: inline;
		white-space: nowrap;
		margin-right: 7px;	
}

li a { /*przyciski menu*/
		text-decoration: none;
		display: block;
		width: 100px;
		height: 55px;
		line-height:45px;
		background: url("img/przycisk2.gif");
		font-family: serif;
		font-size: 14px;
		color: #fbfbfb;
}

li a:hover {
		font-weight: bold;
		background: url("img/przycisk2zazn.gif");
}

li a:active{
		font-weight: bold;
		background: url("img/przycisk2zazn.gif");
}

form {
		padding-left:180px;
		background:#f0f0f0;
		font-size: 14px;
		font-weight: bold;
		line-height:14px;
}

div.pozycjaformularza{
		position: relative;
		width: 420px;
		clear:both;	
		overflow: hidden;
		font-weight: normal;
}

div.opisformularza{
		float:left; 
		width: 170px;
		padding-top: 4px;
		text-align: right;
}

div.poleformularza{
		float:left; 
		width: 250px;
}

input.validation-failed, textarea.validation-failed {
	border: 1px solid #FF3300;
	color : #FF3300;
}
input.validation-passed, textarea.validation-passed {
	border: 2px solid #359827;
	color : #000001;
}

.validation-advice {
	margin: 2px 0;
	padding: 1px;
	background-color: #FF3301;
	color : #FFF;
	font-weight:normal;
	font-size: 10px;
	line-height:10px;
}

.custom-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #C8AA00;
	color : #FFF;
	font-weight: bold;
}

.odp1{
	width:420px; 
	text-align:center;
	color: #20a423;
	font-size:12px; 
	font-weight:bold; 
}

.logowanie{
	padding-left: 620px;
}

a.login{
	text-align: right;
	text-decoration: none;
	font-size: 13px;
	color: #3b3b3b;
}

div a:hover {
		font-weight: bold;
}

.przycisk{
	width:75px; 
	height:28px;
	border:0px solid; 
	float:left;
	margin-right:5px;
	padding:0px;
}

#obraz{
	width:410px; 
	padding-top:10px; 
	padding-left: 20px; 
	padding-right: 20px; 
	height:303px; 
	border:0px solid; 
	float:left; 
	overflow:hidden;
}

#obraz_tresc{
	text-align:center;
}
.opis_naglowek{
	background:#e5e5e5;
	clear:both;
	margin:0px;
	padding:0px;
	font-weight: bold;
	text-align:center;
	width:200px;
}
.opis_tresc{
	background:#f0f0f0;
	clear:both;
	
	margin:0px;
	padding:0px;
	text-align:center;
	text-align:center;
	width:200px;
}

#opis{
	width:200px; 
	height:313px; 
	float:left; 
	background-color:#ffffff;
}

#ilosc{
	color:#fffffe;
	text-align:center;
	line-height:26px;
	font-weight: bold;
	font-family: fantasy;
}

#czekaj{
	text-align:center;
}


